node-red saline flow.json
[{"id":"38ab7fb3ec79b4a8","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"OEE","x":1650,"y":900,"wires":[["2b5a1788e983731c"],[]]},{"id":"92d0d32ff02ff21d","type":"OpcUa-Item","z":"27176a9338a42b90","item":"ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.OEE","datatype":"Boolean","value":"","name":"OEE","x":1310,"y":900,"wires":[["38ab7fb3ec79b4a8"]]},{"id":"14c6fa5bba6dbac2","type":"debug","z":"27176a9338a42b90","name":"view paylaod1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2460,"y":1240,"wires":[]},{"id":"8ec0f5775e9cbda6","type":"influxdb out","z":"27176a9338a42b90","influxdb":"aa9da85a4df83ef1","name":"SERVER","measurement":"Data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ITE","bucket":"Saline Machine","x":2480,"y":1200,"wires":[]},{"id":"55d6a9ac8533bda2","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Performance","x":1630,"y":940,"wires":[["0773aeffcfb7d105"],[]]},{"id":"2fe3df9ec3f8e814","type":"OpcUa-Item","z":"27176a9338a42b90","item":"ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.OEE_Performance","datatype":"Boolean","value":"","name":"Performance","x":1330,"y":940,"wires":[["55d6a9ac8533bda2"]]},{"id":"388983b2cd44dd60","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Avaliability","x":1630,"y":980,"wires":[["397d391104e20752"],[]]},{"id":"b4f36074d5665678","type":"OpcUa-Item","z":"27176a9338a42b90","item":"ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.OEE_Availability","datatype":"Boolean","value":"","name":"Avaliability","x":1330,"y":980,"wires":[["388983b2cd44dd60"]]},{"id":"c85080bf58f7b7ce","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Quality","x":1640,"y":1020,"wires":[["9f2a0442ed7f0bac"],[]]},{"id":"dcbc5ed46cb09604","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.OEE_Quality","datatype":"Boolean","value":"","name":"Quality","x":1320,"y":1020,"wires":[["c85080bf58f7b7ce"]]},{"id":"f365b9eeb9335d1d","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Total Comressed Air","x":1600,"y":1120,"wires":[["a7f91b54102955fe"],[]]},{"id":"f3944da8076b34bf","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_AI_Scaled.Comp_Air_Totalized","datatype":"Boolean","value":"","name":"Total Comressed Air","x":1360,"y":1120,"wires":[["f365b9eeb9335d1d"]]},{"id":"6952af0252990456","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Flowmeter","x":1630,"y":1160,"wires":[["03a27cf9ebe5d223"],[]]},{"id":"cccbc006d2c096df","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_AI_Scaled.Flowmeter_Totalizer","datatype":"Boolean","value":"","name":"Flowmeter","x":1330,"y":1160,"wires":[["6952af0252990456"]]},{"id":"55d3a6b2aa5c8cd1","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Bad Bottles","x":1570,"y":1240,"wires":[["67104d5709fa6ccc"],[]]},{"id":"5aefea0cd379ee33","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.Q_No_Of_Bad","datatype":"Boolean","value":"","name":"Bad Bottles","x":1330,"y":1240,"wires":[["55d3a6b2aa5c8cd1"]]},{"id":"7cb9376b2f1ae446","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.Q_Total_No","datatype":"Boolean","value":"","name":"Total Bottles","x":1330,"y":1320,"wires":[["2c22bf341eadcad8"]]},{"id":"80ee84b39e3ac95a","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.Q_No_Of_Good","datatype":"Boolean","value":"","name":"Good Bottles","x":1330,"y":1280,"wires":[["ddd94284239aee09"]]},{"id":"2c22bf341eadcad8","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Total Bottles","x":1570,"y":1320,"wires":[["ec0df65a826ad893"],[]]},{"id":"ddd94284239aee09","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Good Bottles","x":1570,"y":1280,"wires":[["de5bc41b59092ef3"],[]]},{"id":"0bc3402c39af2a9c","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.A_Run_Duration","datatype":"Boolean","value":"","name":"Run time","x":1320,"y":1400,"wires":[["d8e190000ab0b057"]]},{"id":"d8e190000ab0b057","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"RunTime","x":1640,"y":1400,"wires":[["cfb933f0f3551b01"],[]]},{"id":"81aec76cd5c36e11","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.A_Stop_Duration","datatype":"Boolean","value":"","name":"Stop Time","x":1320,"y":1440,"wires":[["7854e284290755b7"]]},{"id":"7854e284290755b7","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Stop Time","x":1640,"y":1440,"wires":[["0b1f5b72d3d49b16"],[]]},{"id":"f634f6fd7b07ab58","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.A_Total_Duration","datatype":"Boolean","value":"","name":"Total Duration","x":1340,"y":1480,"wires":[["36e17104019e0831"]]},{"id":"36e17104019e0831","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Total Duration","x":1620,"y":1480,"wires":[["b25f7594b603d520"],[]]},{"id":"78cbda5e7d184c7b","type":"OpcUa-Item","z":"27176a9338a42b90","item":" ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.A_Idle_Duration","datatype":"Boolean","value":"","name":"Idle Duration","x":1330,"y":1520,"wires":[["1c1a8259bc275b39"]]},{"id":"1c1a8259bc275b39","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Idle Duration","x":1630,"y":1520,"wires":[["1712d8f66c090d4e"],[]]},{"id":"2c29c1f02f8b72f4","type":"OpcUa-Client","z":"27176a9338a42b90","endpoint":"4d9da67cfa1332a0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"Manual Duration","x":1620,"y":1560,"wires":[["881ebf2be828a14e"],[]]},{"id":"425ad37403b07d97","type":"OpcUa-Item","z":"27176a9338a42b90","item":"ns=4;s=|var|Turck/ARM/WinCE TV.Application.GVL_OEE.A_Manual_Duration","datatype":"Boolean","value":"","name":"Manual Duration","x":1340,"y":1560,"wires":[["2c29c1f02f8b72f4"]]},{"id":"0f38ea51259b8391","type":"inject","z":"27176a9338a42b90","name":"Start InfluxDB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":1220,"wires":[["92d0d32ff02ff21d","2fe3df9ec3f8e814","b4f36074d5665678","dcbc5ed46cb09604","f3944da8076b34bf","cccbc006d2c096df","5aefea0cd379ee33","80ee84b39e3ac95a","7cb9376b2f1ae446","0bc3402c39af2a9c","81aec76cd5c36e11","78cbda5e7d184c7b","f634f6fd7b07ab58","425ad37403b07d97"]]},{"id":"67104d5709fa6ccc","type":"function","z":"27176a9338a42b90","name":"Bad Bottles","func":"msg.topic = \"Bad Bottles\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1240,"wires":[["07271b19486fb344"]]},{"id":"de5bc41b59092ef3","type":"function","z":"27176a9338a42b90","name":"Good Bottles","func":"msg.topic = \"Good Bottles\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1280,"wires":[["07271b19486fb344"]]},{"id":"ec0df65a826ad893","type":"function","z":"27176a9338a42b90","name":"Total Bottles","func":"msg.topic = \"Total Bottles\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1320,"wires":[["07271b19486fb344"]]},{"id":"cfb933f0f3551b01","type":"function","z":"27176a9338a42b90","name":"RunTime","func":"msg.topic = \"RunTime\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":1400,"wires":[["07271b19486fb344"]]},{"id":"0b1f5b72d3d49b16","type":"function","z":"27176a9338a42b90","name":"Stop Time","func":"msg.topic = \"Stop Time\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":1440,"wires":[["07271b19486fb344"]]},{"id":"b25f7594b603d520","type":"function","z":"27176a9338a42b90","name":"Total Duration","func":"msg.topic = \"Total Duration\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":1480,"wires":[["07271b19486fb344"]]},{"id":"1712d8f66c090d4e","type":"function","z":"27176a9338a42b90","name":"Idle Duration","func":"msg.topic = \"Idle Duration\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1520,"wires":[["07271b19486fb344"]]},{"id":"881ebf2be828a14e","type":"function","z":"27176a9338a42b90","name":"Manual Duration","func":"msg.topic = \"Manual Duration\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":1560,"wires":[["07271b19486fb344"]]},{"id":"03a27cf9ebe5d223","type":"function","z":"27176a9338a42b90","name":"Flowmeter","func":"msg.topic = \"Flowmeter\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1160,"wires":[["07271b19486fb344"]]},{"id":"a7f91b54102955fe","type":"function","z":"27176a9338a42b90","name":"Total Comressed Air","func":"msg.topic = \"Total Comressed Air\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":1120,"wires":[["07271b19486fb344"]]},{"id":"9f2a0442ed7f0bac","type":"function","z":"27176a9338a42b90","name":"Quality","func":"msg.topic = \"Quality\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":1020,"wires":[["07271b19486fb344"]]},{"id":"397d391104e20752","type":"function","z":"27176a9338a42b90","name":"Avaliability","func":"msg.topic = \"Avaliability\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":980,"wires":[["07271b19486fb344"]]},{"id":"0773aeffcfb7d105","type":"function","z":"27176a9338a42b90","name":"Performance","func":"msg.topic = \"Performance\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":940,"wires":[["07271b19486fb344"]]},{"id":"2b5a1788e983731c","type":"function","z":"27176a9338a42b90","name":"OEE","func":"msg.topic = \"OEE\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":900,"wires":[["07271b19486fb344"]]},{"id":"07271b19486fb344","type":"function","z":"27176a9338a42b90","name":"Combine Values","func":"let combined = context.get('combined') || {};\n\n// Assign labeled values to the combined object\ncombined[msg.topic] = msg.payload;\n\n// Check if we have all four values\nif (Object.keys(combined).length === 14) {\n    msg.payload = combined; // Set the labeled object as the new payload\n    context.set('combined', {}); // Reset for next round\n    return msg; // Output message with the labeled values\n}\n\n// Store the object in context\ncontext.set('combined', combined);\nreturn null; // Do not output until we have all values","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2220,"y":1220,"wires":[["8ec0f5775e9cbda6","14c6fa5bba6dbac2","b57436eaac18af7c"]]},{"id":"34972f79bff7c6e4","type":"comment","z":"27176a9338a42b90","name":"","info":"Current there are 14","x":2220,"y":1160,"wires":[]},{"id":"b57436eaac18af7c","type":"influxdb out","z":"27176a9338a42b90","influxdb":"aec8effcb4177723","name":"SERVER","measurement":"Data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ITE","bucket":"Machine","x":2480,"y":1160,"wires":[]},{"id":"4d9da67cfa1332a0","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.250.11:4840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"aa9da85a4df83ef1","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"Server","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://us-east-1-1.aws.cloud2.influxdata.com/","timeout":"10","rejectUnauthorized":true},{"id":"aec8effcb4177723","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"InfluxDb V2","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":"10","rejectUnauthorized":true}]